{% extends 'site_template.html' %}

{% block body %}
	<div id="page-wrapper">

		<div class="container-fluid">



			<div class="row">
				<div class="col-lg-6">
					<h2>Image Predict Scores </h2>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>ImageId</th>
									<th>ModelVersion</th>
									<th>Predicts</th>
								</tr>
							</thead>
							<tbody>
								{% for scoreinfo in lst_score %}
									<tr>
										<td>{{ scoreinfo[0] }}</td>
										<td>{{ scoreinfo[1] }}</td>
										<td>{{ scoreinfo[2] }}</td>
									</tr>
								{% endfor %}




							</tbody>
						</table>
					</div>
				</div>

				<div id="bbs">
					<div class="container">
						{% for imagename in lst_image_name %}
							<div class="row">
								<div class="col-md-4">
									<img src="{{ imagename }}" class="img-responsive" alt="">
									<h3>{{imagename}}</h3>
								</div>
							</a>
						{% endfor %}

				  
					</div>
				</div>


		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->
{% endblock %}